@media(max-width: 750px) {
    .book-table__label::before {
        left: 195px;
    }
}

@media(max-width: 740px) {
    .our-delicious-menu__items-b {
        width: 190px;
    }

    .our-delicious-menu__text-title-below {
        font-size: 10px;
    }   
    
    .our-book-table {
        display: block;
    }

    .book-table-left-b {
        margin: 0 auto;
    }
    
    .book-table__item {
        width: 250px;
    }

    .book-table__b {
        display: flex;
        justify-content: space-between;
    }

    .book-table__label::before {
        top: 20px;
    }

    .book-table__figure {
        justify-content: center;
        display: flex;
    }

    .book-table__figure::after {
        top: 90px;
        left: 60%;
    }

    .master-chef-left {
        height: 549px;
    }

    .master-chef-center-higher {
        height: 549px;
    }

    .master-chef-right {
        height: 549px;
    }

    .book-table-container {
        margin-left: 80px;
    }
}

@media(max-width: 731px) {
    .master-chef-left {
        height: 591px;
    }

    .master-chef-center-higher {
        height: 591px;
    }

    .master-chef-right {
        height: 591px;
    }
}

@media(max-width: 725px) {
    .chocolate-pancakes__title {
        font-size: 24px;
    }

    .text-higher {
        font-size: 12px;
    }

    .master-chef-left-b {
        margin-right: 0;
    }

    .our-chef {
        display: block;
        text-align: -webkit-center;
    }

    .master-chef__figure {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .master-chef__figure.figure::after {
        left: 15%;
    }

    .master-chef__text {
        font-size: 17px;
    }

    .master-chef__text {
        font-size: 14px;
    }

    .our-contact-footer__text {
        font-size: 10px;
    }

    .about-our {
        display: block;
    }

    .about-left-b {
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .about__text {
        font-size: 17px
    }

    .about__text {
        font-size: 14px;
    }

    .about__figure {
        display: flex;
        justify-content: center;
    }

    .about__figure::after {
        left: 62%;
        top: 80px;
    }

    .container-chef {
        margin-left: 30px;
        margin-right: 30px;
    }

    .contact__text {
        font-size: 17px;
    }

    .delicious-menu__text {
        font-size: 17px;
    }

    .chocolate-pancakes-left-b {
        margin-left: 87px;
        margin-right: 87px;
        margin-bottom: 20px;
        justify-content: center;
        display: flex;
    }

    .chocolate-pancakes__figure::after {
        left: 58%;
    }

    .chocolate-pancakes-right-b {
        width: 650px;
    }

    .chocolate-pancakes__title {
        font-size: 36px;
    }

    .our-chocolate-pancakes {
        display: block;
    }

    .chocolate-pancakes__text {
        font-size: 17px;
    }

    .chocolate-pancakes__text {
        font-size: 14px;
    }

    .book-table-container {
        margin: 0;
    }

    .contact-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .master-chef-left {
        margin-left: 20%;
        height: 766px;
    }

    .master-chef-center-higher {
        height: 766px;
    }

    .master-chef-right {
        height: 766px;
    }
}

@media(max-width: 720px) {
    .book-table-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media(max-width: 710px) {
    .our-delicious-menu {
        display: block;
    }

    .our-delicious-menu__items-b {
        margin: 0 auto;
        padding-bottom: 45px;
    }

    .our-delicious-menu__items-b:last-child {
        padding-bottom: 0;
    }

    .our-delicious-menu__item-b {
        margin-bottom: 10px;
    }

    .our-delicious-menu__text-title {
        text-align: center;
        font-size: 12px;
    }

    .our-delicious-menu__text-title-below {
        text-align: center;
        font-size: 11px;
    }

    .our-delicious-menu__items-b {
        width: 260px;
    }
}

@media(max-width: 680px) {
    .header-offer__menu-item {
        font-size: 11px;
        width: 52px;
    }

    .header-inner__title {
        font-size: 55px;
    }

    .header-inner__btn {
        width: 135px;
        height: 40px;
        font-size: 13px;
    }

    .chocolate-pancakes-right-b {
        margin: 0 auto;
        width: 400px;
    }

    .container-about {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media(max-width: 645px) {
    .our-contact {
        display: block;
    }

    .contact-form__input {
        width: 100%;
        margin-bottom: 10px;
    }

    .contact-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .header-inner__title {
        font-size: 45px;
    }

    .delicious-menu__items > li {
        height: 20px;
        font-size: 10px;
    }

    .delicious-menu__items {
        width: 400px;
    }
    
    .master-chef__text {
        width: 500px;
    }

    .master-chef__text {
        width: 500px;
    }

    .our-corporate__figure_r::after {
        left: 75%;
    }

    .contact__offer {
        width: auto;
    }

    .delicious-menu__offer {
        width: auto;
    }

    .chocolate-pancakes-right-b {
        width: 90%;
    }

    .about-left-b {
        width: auto;
    }

    .master-chef__text  {
        width: auto;
    }

    .master-chef__text {
        width: auto;
    }

    .master-chef-right-b {
        width: auto;
    }

    .book-table-left-b {
        width: auto;
    }

    .delicious-menu-container {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media(max-width: 590px) {
    .header-offer__menu-item {
        font-size: 9px;
        width: 42px;
    }

    .book-table__b {
        display: block;
    }

    .book-table__item {
        width: 100%;
    }

    .book-table__label::before {
        left: 450px;
    }
}

@media(max-width: 555px) {
    .book-table__label::before {
        left: 405px;
    }
}

@media(max-width: 535px) {
    .header-inner__title {
        font-size: 36px;
    }

    .header-inner__btn_left {
        margin-right: 40px;
        height: 35px;
        font-size: 12px;
    }

    .master-chef__figure.figure::after {
        left: 0%;
    }
}

@media(max-width: 537px) {
    .master-chef-left {
        height: 791px;
    }

    .master-chef-center-higher {
        height: 791px;
    }

    .master-chef-right {
        height: 791px;
    }
}

@media(max-width: 515px) {
    .book-table__label::before {
        left: 370px;
    }
}

@media(max-width: 514px) {
    .corporate-weddings-left {
        height: 805px;
        margin-left: 0;
    }

    .corporate-weddings-center-higher {
        height: 805px;
    }

    .corporate-weddings-right {
        height: 805px;
    }
}

@media(max-width: 510px) {
    .our-corporate__figure_r::after {
        left: 67%;
    }

    /* .book-table__item {
        width: 220px;
    } */

    .header-offer__img {
        width: 70px;
    }

    .header-offer__menu-item {
        height: 40px;
    }

    .header-arrow-left {
        top: 41px;
    }

    .header-arrow-center-higher {
        top: 109px;
    }

    .header-arrow-center-below {
        top: 599px;
    }
    
    .header-arrow-right {
        top: 40.5px;
    }

    .header-offer__img {
        top: 6px;
    }

    .book-table__data {
        font-size: 10px;
    }

    .delicious-menu__items {
        width: 300px;
    }

    .header-arrow-center-higher {
        top: 110px;
    }

    .header-arrow-center-below {
        top: 599px;
    }
}

@media(max-width: 480px) {
    .book-table__label::before {
        left: 335px;
    }
}

@media(max-width: 465px) {
    .container-header {     
        margin: 0 10px 0 10px;
    }
}

@media(max-width: 448px) {
    .master-chef-left {
        height: 812px;
    }

    .master-chef-center-higher {
        height: 812px;
    }

    .master-chef-right {
        height: 812px;
    }
}

@media(max-width: 440px) {
    .header-offer__menu-item {
        font-size: 8px;
        width: 38px;
    }

    .header-offer__img {
        width: 50px;
        top: 16px
    }

    .header-inner {
        padding-top: 150px;
    }

    .about__img {
        display: none;
    }

    .figure::after { 
        display: none;
    }

    .corporate-weddings-container {
        margin: 0;
    }

    .header-inner__our-btn {
        align-items: center;
    }

    .header-inner__our-btn {
        align-items: center;
        height: 30px;
        font-size: 10px;
    }

    .header-inner__title {
        font-size: 30px;
    }

    .header-inner__btn {
        width: 100px;
        font-size: 10px;
    }

    .book-table__data {
        font-size: 9px;
    }

    /* .book-table__item {
        width: 170px;
    } */

    .delicious-menu-container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .our-contact-footer__left-b {
        display: block;
    }

    .our-contact-footer__item {
        justify-content: center;
        margin-bottom: 10px;
    }

    .our-contact-footer__item:last-child {
        margin-bottom: 0;
    }

    .book-table__b {
        width: 90%;
        margin: 0 auto;
    }

    .book-table__a {
        width: 90%;
        margin: 0 auto;
    }

    .book-table__label::before {
        left: 80%;
    }

    /* .book-table__item {
        width: 174px;
    } */

    .header-arrow-center-higher {
        top: 100px;
    }

    .header-arrow-center-below {
        top: 588px;
    }

    .corporate-weddings-left {
        margin-left: 20%;
        height: 793px;
    }

    .corporate-weddings-center-higher {
        height: 793px;
    }

    .corporate-weddings-right {
        height: 793px;
    }

    .book-table__label::before {
        left: 270px;
    }
}

@media(max-width: 437px) {
    .master-chef-left {  
        height: 837px;
    }

    .master-chef-center-higher {   
        height: 837px;
    }

    .master-chef-right {    
        height: 837px;
    }
}

@media(max-width: 410px) {
    .book-table__label::before {
        left: 240px;
    }
}

@media(max-width: 390px) {
    .header-offer__img {
        width: 110px;
        top: 55px;
    }

    .header-inner__our-btn {
        display: block;
    }

    .header-inner__btn {
        margin: 0 auto;
    }

    .header-inner__btn_left {
        margin-bottom: 20px;
    }

    .header-inner__btn {
        width: 70%;
    }

    .header-inner__left-col {
        font-size: 10px;
    }

    .delicious-menu-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .delicious-menu__items {
        width: 280px;
    }

    .book-table__img {
        width: 350px;
        height: 350px;
    }

    .book-table__item {
        margin-left: auto;
        margin-right: auto;
        max-width: -webkit-fill-available;
        width: 100%;
        display: block;
    }

    .book-table__b {
        display: block;
        width: 100%;
    }

    .book-table__label::before {
        top: 20px;
        z-index: 1;
        left: 343px;
    }

    .book-table__img {
        width: 320px;
        height: 320px;
    }

    .book-table__a {
        width: 100%;
    }

    .header-arrow-center-higher {
        top: 186px;
        height: 300px;
    }

    .header-arrow-center-below {
        top: 546px;
    }

    .book-table-container {
        margin-left: 40px;
        margin-right: 40px;
    }

    .book-table__label::before {
        left: 260px;
        top: 27px;
    }

    .book-table__item {
        height: 60px;
    }
}

@media(max-width: 377px) {
    .master-chef-left {  
        height: 858px;
    }

    .master-chef-center-higher {   
        height: 858px;
    }

    .master-chef-right {    
        height: 858px;
    }
}

@media(max-width: 370px) {
    .book-table__label::before {
        left: 240px;
    }
}

@media(max-width: 360px) {
    .master-chef__img {
        width: 270px;
        height: 270px;
    }

    .master-chef-left {  
        height: 828px;
    }

    .master-chef-center-higher {   
        height: 828px;
    }

    .master-chef-right {    
        height: 828px;
    }
}   

@media(max-width: 350px) {
    /* .book-table__label::before {
        left: 305px;
    } */
}

@media(max-width: 344px) {
    .master-chef-left {  
        height: 850px;
    }

    .master-chef-center-higher {   
        height: 850px;
    }

    .master-chef-right {    
        height: 850px;
    }
}

@media(max-width: 340px) {
    .container-chef {
        margin-left: 20px;
        margin-right: 20px;
    }

    .book-table__label::before {
        left: 210px;
    }

    .book-table__img {
        width: 300px;
        height: 300px;
    }

    .book-table__a {
        width: 99%; 
    }

    .book-table__item {
        width: 99%;
    }

    .header-offer__menu-item {
        font-size: 8px;
        width: 38px;
    }

    .header-offer__menu-item {
        height: 30px;
    }

    .header-arrow-center-higher {
        top: 176px;
    }

    .header-arrow-center-below {
        top: 536px;
    }

    .header-arrow-left {
        top: 31px;
        height: 589px;
    }
        
    .header-arrow-right {
        top: 31px;
        height: 589px;
    }

    .master-chef-left {  
        height: 828px;
    }

    .master-chef-center-higher {   
        height: 828px;
    }

    .master-chef-right {    
        height: 828px;
    }

    .container-header {
        margin: 0 5px 0 5px;
    }
}

@media(max-width: 324px) {
    .master-chef-left {  
        height: 850px;
    }

    .master-chef-center-higher {   
        height: 850px;
    }

    .master-chef-right {    
        height: 850px;
    }
}