/* * {
    margin: 0;
    padding: 0;
} */

li {
    list-style-type: none; /* Убираем маркеры */
   }

.top-menu {

}

.top-menu__title {

}

.span__b {
    display: flex;
}

.span {
    cursor: pointer;
}

.sub-menu {
    display: none;
}

.sub-menu-two {
    display: none
}

.sub-menu-three {
    display: none;
}

.sub-menu-two_b {
    display: none;
}